<div class="a">
  <div class="mainHeading">
    ReactiveNews
  </div>
  <div class="socialIcons">
    <ul>
      <li><img class="socialIcon" src="../assets/images/facebook.png"/></li>
      <li><img class="socialIcon" src="../assets/images/twitter.png"/></li>
      <li><img class="socialIcon" src="../assets/images/google+.png"/></li>
      <li><img class="socialIcon" src="../assets/images/instagram.png"/></li>
    </ul>
  </div>
</div>
<div class="seperator"></div>
<div class="b">
  <div class="topnav">
    <a href="#home"><img class="hamburger" src="../assets/images/hamburger.png"/></a>
    <a href="#"><div class="navSeperator"></div></a>
    <a href="#news">LATEST</a>
    <a href="#contact">POPULAR</a>
    <a href="#about">SUBSCRIBE</a>
  </div>
  <div class="navRight">
    <a href="#"><img class="menuIcon" src="../assets/images/profile.png"/></a>
    <a href="#signin">SIGN IN</a>
    <a href="#"><div class="navSeperator"></div></a>
    <input type="text" class="searchField" (input)="searchValue=$event.target.value">
    <a><img class="menuIcon" src="../assets/images/search.png"/></a>
    <a (click)="search()">SEARCH</a>
  </div>
</div>
<div class="banner">
  <img class="" src="../assets/images/banner.jpg"/>
  <a (click)="sendData(mArticles[1])" >
    <div class="banner-heading">
      {{mArticles[1].title}}
    </div>
    <div class="banner-text">
      {{mArticles[1].description}}
    </div>
  </a>
</div>
<div class="content">
  <div class="topNews">
    <div class="newsSeperator"></div>
    <div class="newsHeading">
      Top News
    </div>
  </div>
  <div class="imageSlider">
    <div class="image">
      <img src="../assets/images/Group%204.png" />
      <div class="latestNewsText1">
        <a (click)="sendData(mArticles[3])">{{mArticles[3].title}}</a>
      </div>
    </div>
    <div>
      <img src="../assets/images/Group%203.png" />
      <div class="latestNewsText2">
        <a (click)="sendData(mArticles[4])">{{mArticles[4].title}}</a>
      </div>
    </div>
    <div class="image">
      <img src="../assets/images/Group%202.png" />
      <div class="latestNewsText3">
        <a (click)="sendData(mArticles[5])">{{mArticles[5].title}}</a>
      </div>
    </div>
  </div>
  <div class="button-holder">
    <a href="#slider-image-1" class="slider-change"></a>
    <a href="#slider-image-1" class="slider-change"></a>
    <a href="#slider-image-2" class="slider-change"></a>
    <a href="#slider-image-3" class="slider-change"></a>
  </div>

  <div class="firstRow">
    <div class="firstLeftCard">
      <div class="textLeft">
        <img class="watchIconLeft" src="../assets/images/watch.png"/>
        <span class="date">22 June 2020</span>
      </div>
      <div class="LeftContainer">
        <div class="LeftSeperator"></div>
        <div class="test">
          <div class="LeftCardText">
            <a (click)="sendData(mArticles[9])"><h3>{{mArticles[9].title}}</h3></a>
          </div>
          <div class="LeftTextSep">Puffinthemes | Life Style</div>
        </div>
      </div>
    </div>
    <div class="firstRightCard">
      <div class="RightContainer">
        <div class="textRight">
          <img class="watchIconRight" src="../assets/images/watch.png"/>
          <span class="date">22 June 2020</span>
        </div>
        <div class="RightCardText">
          <a (click)="sendData(mArticles[6])"><h3>{{mArticles[6].title}}</h3></a>
        </div>
        <div class="RightTextSep">Puffinthemes | Life Style</div>
        <div class="cardText">
          <a (click)="sendData(mArticles[6])">{{mArticles[6].description}}</a>
        </div>
        <div class="RightCardFooter">
          <div class="leftFooterText">Read More</div>
          <div class="rightFooterText">
            <img class="menuIcon" src="../assets/images/share.png">
            <img class="menuIcon" src="../assets/images/view.png">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="secondRow">
    <div class="newsList">
      <div class="latestNewsHeading">LATEST NEWS</div>
      <div class="latest-news-seperator"></div>
      <div class="news1">
        <strong>{{mArticles[8].title}}</strong>
        <a (click)="sendData(mArticles[8])">{{mArticles[8].description}}</a>
      </div>
      <div class="news2">
        <strong>{{mArticles[9].title}}</strong>
        <a (click)="sendData(mArticles[9])">{{mArticles[9].description}}</a>
      </div>
      <div class="news3">
        <strong>{{mArticles[10].title}}</strong>
        <a (click)="sendData(mArticles[10])">{{mArticles[10].description}}</a>
      </div>
      <div class="news4">
        <strong>{{mArticles[11].title}}</strong>
        <a (click)="sendData(mArticles[11])">{{mArticles[11].description}}</a>
      </div>
      <div class="latest-news-button">
        <div class="latest-news-button-text">SEE MORE</div>
      </div>
    </div>
    <div class="articlesSection">
      <div class="articlesParent">
        <div>
          <img src="../assets/images/2%20pic.png" />
          <div class="latestNewsRectHeader1">
            <a (click)="sendData(mArticles[12])">{{mArticles[12].title}}</a>
          </div>
          <div class="latestNewsRectText1">
            <a (click)="sendData(mArticles[12])">{{mArticles[12].description}}</a>
          </div>
        </div>
        <div class="latestNewsDiv2">
          <img src="../assets/images/3%20pic.png" />
          <div class="latestNewsRectHeader2">
            <a (click)="sendData(mArticles[13])">{{mArticles[13].title}}</a>
          </div>
          <div class="latestNewsRectText2">
            <a (click)="sendData(mArticles[13])">{{mArticles[13].description}}</a>
          </div>
        </div>
      </div>
      <div class="latestNewsDiv3">
        <img src="../assets/images/4%20pic.png" />
        <div class="latestNewsRectHeader3">
          <a (click)="sendData(mArticles[14])">{{mArticles[14].title}}</a>
        </div>
        <div class="latestNewsRectText3">
          <a (click)="sendData(mArticles[14])">{{mArticles[14].description}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="thirdRow">
    <div class="blogsSection">
      <div class="blogDiv1">
        <img src="../assets/images/4%20pic.png" />
        <div class="blogNewsRectHeader1">
          <a (click)="sendData(mArticles[15])">{{mArticles[15].title}}</a>
        </div>
        <div class="blogNewsRectText1">
          <a (click)="sendData(mArticles[15])">{{mArticles[15].description}}</a>
        </div>
      </div>
      <div class="blogsParent">
        <div class="blogDiv2">
          <img src="../assets/images/3%20pic.png" />
          <div class="blogNewsRectHeader2">
            <a (click)="sendData(mArticles[16])">{{mArticles[16].title}}</a>
          </div>
          <div class="blogNewsRectText2">
            <a (click)="sendData(mArticles[16])">{{mArticles[16].description}}</a>
          </div>
        </div>
        <div class="blogDiv3">
          <img src="../assets/images/3%20pic.png" />
          <div class="blogNewsRectHeader3">
            <a (click)="sendData(mArticles[17])">{{mArticles[17].title}}</a>
          </div>
          <div class="blogNewsRectText3">
            <a (click)="sendData(mArticles[17])">{{mArticles[17].description}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="newsAndEventsSection">
      <div class="recentEvents">
        <div class="recentEventsHeading">Recent Event</div>
        <div class="recent-event-seperator"></div>
        <div class="recentNews1">
          <a (click)="sendData(mArticles[18])">{{mArticles[18].title}}</a>
        </div>
        <div class="recentNews2">
          <a (click)="sendData(mArticles[19])">{{mArticles[19].title}}</a>
        </div>
        <div class="recentNews3">
<!--          <a href="{{mArticles[20].url}}">{{mArticles[20].title}}</a>-->
        </div>
        <div class="recentNews4">
<!--          <a href="{{mArticles[21].url}}">{{mArticles[21].title}}</a>-->
        </div>
      </div>
      <div class="newsLetter">
        <div class="newsLetterHeading">Newsletter</div>
        <div class="news-letter-seperator"></div>
        <div class="news-letter-button">
          <div class="news-letter-button-text">Subscribe</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footerContent">
    <ul>
      <li><strong>SECTIONS</strong></li>
      <li>International</li>
      <li>Sports</li>
      <li>Health</li>
      <li>Multimedia</li>
      <li>Science & Technology</li>
    </ul>
  </div>
  <div class="footerContent">
    <ul>
      <li><strong>INTERACTIVE</strong></li>
      <li>Live Stream</li>
      <li>Videos</li>
      <li>Blogs</li>
    </ul>
  </div>
  <div class="footerContent">
    <ul>
      <li><strong>CORPORATE</strong></li>
      <li>Feedback</li>
      <li>Contact Us</li>
      <li>About Us</li>
      <li>Career</li>
    </ul>
  </div>
  <div class="footerContent">
    <ul>
      <li><strong>REACTIVE NETWORK</strong></li>
    </ul>
    <ul class="footerIcons">
      <li><img class="footerSocialIcon" src="../assets/images/facebookColored.png"/></li>
      <li><img class="footerSocialIcon" src="../assets/images/twitterColored.png"/></li>
      <li><img class="footerSocialIcon" src="../assets/images/instagramColored.png"/></li>
      <li><img class="footerSocialIcon" src="../assets/images/linkedinColored.png"/></li>
    </ul>
  </div>
</div>
<div class="bar">
  <div class="leftContent">COPYRIGHT © 2020 - ReactiveNews, ALL RIGHTS RESERVED.</div>
  <div class="rightContent">TERMS | CONDITIONS</div>
</div>
